.notification {
  &-wrapper {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: spacer(2) !important;

    > .vue-notification {
      background-color: inherit;
      color: $white;
      display: grid;
      font-size: inherit;
      grid-gap: 0 spacer(2);
      grid-template-columns: 1.428571429rem 1fr;
      margin: 0;

      &::before {
        content: '';
        grid-row-end: 3;
        grid-row-start: 1;
        padding-top: spacer(1);
        text-align: center;
      }

      &.success {
        background-color: $success;
        border-color: $success;

        &::before {
          content: url('data:image/svg+xml,<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true" style="will-change: transform;" fill="%23ffffff"><path d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2zm0 26a12 12 0 1 1 12-12 12 12 0 0 1-12 12z"></path><path d="M14 21.5l-5-4.96 1.59-1.57L14 18.35 21.41 11 23 12.58l-9 8.92z"></path></svg>');
        }
      }

      &.warning,
      &.warn {
        background-color: $warning;
        border-color: $warning;

        &::before {
          content: url('data:image/svg+xml,<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true" style="will-change: transform;" fill="%23ffffff"><path d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2zm0 26a12 12 0 1 1 12-12 12 12 0 0 1-12 12z"></path><path d="M15 8h2v11h-2zm1 14a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 16 22z"></path></svg>');
        }
      }

      &.danger,
      &.error {
        background-color: $danger;
        border-color: $danger;

        &::before {
          content: url('data:image/svg+xml,<svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true" style="will-change: transform;" fill="%23ffffff"><path d="M2 16A14 14 0 1 0 16 2 14 14 0 0 0 2 16zm23.15 7.75L8.25 6.85a12 12 0 0 1 16.9 16.9zM8.24 25.16a12 12 0 0 1-1.4-16.89l16.89 16.89a12 12 0 0 1-15.49 0z"></path></svg>');
        }
      }
    }
  }
}

.notifications {
  margin: spacer(3);
}
