.badge {
  &[status='waiting-your-sign'] ,
  &[status='waiting-your-review'] {
    @extend .badge-primary;
  }

  &[status='signed'] {
    @extend .badge-light;
  }

  &[status='completed'] {
    @extend .badge-success;
  }

  &[status='in-progress'],
  &[status^='waiting-for-'] {
    @extend .badge-warning;
  }

  &[status='pending'] ,
  &[status='draft'] {
    @extend .badge-secondary;
  }
}

.recipient--groups {
  .avatar {
    position: relative;

    + .avatar {
      margin-left: -0.75rem;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        z-index: 6 - $i;
      }
    }
  }
}

.recipients {
  &--draft {
    position: relative;
  }

  &__icon {
    color: $warning;
    position: absolute;
    right: 0;
    top: -0.75rem;
  }
}

.history {
  &-item {
    align-items: center;
    background-color: $gray-100;
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: minmax(3rem, 4rem) 1fr 1fr 2fr 1fr;
    margin-bottom: spacer(2);
    padding: spacer(3);

    > .avatar {
      height: 2.6875rem;
      width: 2.6875rem;
    }
  }
}

.document-detail {
  &-discussion {
    min-height: 100vh;
  }
}

.discussion {
  display: flex;
  flex-direction: column;

  &__messages {
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    overflow-y: auto;
    padding: spacer(3);
  }

  &__input {
    align-items: center;
    background-color: $gray-300;
    display: flex;
    flex-shrink: 0;
    padding: spacer(3);
  }

  &-message {
    background-color: $white;
    border-radius: $border-radius;
    margin-top: spacer(2);
    max-width: 20rem;
    padding: spacer(3) spacer(3) spacer(2) spacer(3);

    &__profile {
      align-items: center;
      display: grid;
      grid-gap: spacer(2);
      grid-template-columns: auto 1fr auto;
      margin-top: spacer(3);

      > :last-child {
        align-self: flex-end;
      }
    }

    &.reply {
      background-color: $gray-300;
      margin-left: auto;
    }
  }
}
